<nav class="white" role="navigation">
    <div class="nav-wrapper container">
	    <div class="row">
		    <div class="col s12 m6 l2">
	    <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}"><img class="responsive-img" src="{{ "/" | relative_url }}assets/images/logo.png" alt="logo" style="max-height:60px"/></a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
		    </div>
		    <div class="col s12 m6 l10">
			
          <ul class="right hide-on-med-and-down">
            {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if item.link == page.url %}class="active"{% endif %}{% if item.highlight %}class="btn waves-effect waves-light blue"{% endif %}>
      {{ item.name }}
    </a></li>
  {% endfor %}
          </ul>
		    </div>
          <ul id="nav-mobile" class="side-nav">
            {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if item.link == page.url %}class="active"{% endif %}{% if item.highlight %}class="btn waves-effect waves-light blue"{% endif %}>
      {{ item.name }}
    </a></li>
  {% endfor %}
          </ul>

      <a href="#" data-activates="nav-mobile" class="hide-on-large-only button-collapse"><i class="material-icons">menu</i></a>
	    </div>
    </div>
</nav>




			