<!--  Scripts-->
<script src="{{ "js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "js/materialize.min.js" | relative_url }}"></script>
<script src="{{ "js/init.js" | relative_url }}"></script>
<script src="{{ "js/jquery.matchHeight.min.js" | relative_url }}"></script>

<script>
/*
var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
  */
  
$(function() {
	$('.card').matchHeight();
});

</script>
