---
layout: default
---
    <div class="section" id="index-banner">
        <div class="container header-home">
            <div class="row">
                <div class="col hide-on-small-only m5 l5 right center-align">
                  <img class="responsive-img" src="{{ "/" | relative_url }}assets/images/logo-home.png" alt="we are open logo" style="margin-top:60px"/>
                </div>
                <div class="col s12 m7 l7">
                  <h2 class="header">We Are Open <nobr>Co-op</nobr></h2>
                  <div class="header-text light">
                      {{ content }}
                  </div>
                  <a href="https://opencollective.com/weareopen/" id="download-button" class="btn-large waves-effect waves-light blue">Support community projects</a>
                </div>
            </div>
        </div>
    </div>
    


    <div class="section blue-grey lighten-2" style="padding-top:3em;margin-bottom:-3em">
        <div class="container">

                <!--   Icon Section   -->

                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="z-index">
                          <img src="{{ "/" | relative_url }}assets/images/articulate-umbrella.svg" alt="articulate concepts" width="140%" />
                        </div>
                        <div class="umbrella-card card blue-grey lighten-4">
                            <p class="light">We give talks about our work, present and tell stories all over the world.</p>

                            <div class="card-action center">
                                <a href="{{ "/" | relative_url }}work#concepts" class="btn-large waves-effect waves-light blue">Let us clarify</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
	                    <div class="z-index">
							<img src="{{ "/" | relative_url }}assets/images/expertise-umbrella.svg" width="140%" alt="provide expertise"/>
					  	</div>
                        <div class="umbrella-card card blue-grey lighten-4">
                            <p class="light">We are more than the sum of our parts. Our members have expertise in a wide-range of functions.</p>

                            <div class="card-action center">
                                <a href="{{ "/" | relative_url }}work#expertise" class="btn-large waves-effect waves-light blue">Find out more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
	                    <div class="z-index">
							<img src="{{ "/" | relative_url }}assets/images/facilitate-umbrella.svg" width="140%" alt="facilitate thinking"/>
							</div>
                        <div class="umbrella-card card blue-grey lighten-4">
                            <p class="light">To think is to question. But don't sweat it. We'll help with that.</p>

                            <div class="card-action center">
                                <a href="{{ "/" | relative_url }}work#thinking" class="btn-large waves-effect waves-light blue">Have a look</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <!-- BM - I Dont know why this section overlap is 20px out - this is a dirty hack to fix it... -->
    <div class="section amber lighten-5 locks" style="padding-top:3em;">
        <div class="container">
	        <div class="row">
                <div class="col s12 m7 l5 offset-l1">
                  <p><img src="{{ "/" | relative_url }}assets/images/clients/cc-logo.svg" class="center-align" alt="creative commons logo" width="75%"/></p>
                </div>
                <div class="col s12 m5 l5">
	                <div class="card blue-grey lighten-4">
					<h4>Creative Commons</h4>
					<p>
                      From illustrating the State of the Commons to helping Creative Commons think through and establish their Creative Commons Certificate program, members of the We Are Open Co-op have been pleased to work with Creative Commons on a number of projects.
                  	</p>
				  	<a href="{{ "/" | relative_url }}clients" id="download-button" class="btn-large waves-effect waves-light blue-grey">the full story</a>
	                </div>
                </div>
            </div>
        </div>
    </div>

     <div class="section white">
        <div class="container">
            <div class="row">
	            <div class="col s12 m6 l5 right">
		            <img src="{{ "/" | relative_url }}assets/images/work-together.png" alt="work-together" width="300" />
	            </div>
	            <div class="col s12 m6 l5 offset-l1">
		            <h3>Join Us!</h3>
		            <p>The chain of command can unnecessarily complicate projects and processes. We realised that we would have to fight for the right to collaborate with like-minded thinkers.</p>
		            <p>Our aim became to contribute what and where we can, accept ourselves as we are and just be human. Flaws and everything.</p>
					<p>We strongly believe that everyone should benefit from the approach that we have seen work so well. Come collaborate alongside us, there's a better way to work.</p>
                <a href="{{ "/" | relative_url }}join/" id="download-button" class="btn-large waves-effect waves-light blue">The offer</a>
	            </div>
            </div>
        </div>
    </div>
